<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
	  <!--Mobile Config -->
	  <add key="fileserverpath" value="" />
	  <add key="serverconections" value="Data Source=192.168.6.98;User ID=sa;Password=sa;Initial Catalog=ImportUAT;Integrated Security=false" />
	  <!-- <add key="serverconections" value="Data Source=192.168.6.105,1433;User ID=sa;Password=sa@123;Initial Catalog=BSImportDB;Integrated Security=false" />-->

	  <!-- END - Mobile Config -->

	  <add key="FileServerPath" value="" />
	  <add key="BilingServerPath" value="\\\\babaji-storage\\BS-Scan Document\"/>
	  <!--<add key="EmailIP" value="Mail.BabajiShivram.com" />-->
	  <!--<add key="EmailIP" value="Testsmtp.gmail.com" />-->
	  <add key="EmailIP" value="Testsmtp.office365.com" />
	  <add key="SMTPPort" value="111587" />
	  <add key="EmailFrom" value="Admin@BabajiShivram.com" />
	  <add key="EmailFromEBill" value="EBill@BabajiShivram.com" />
	  <add key="EmailPassCode" value="AAA" />
	  <add key="EmailSSL" value="true" />
	  <add key="SMSApiKey" value="" />
	  <add key="SMSUserName" value="Testbabajishivram" />
	  <add key="SMSPassCode" value="Test" />
	  <add key="WhatsAppApiKey" value="Test" />
	  <add key="WhatsAppUserName" value="Test" />
	  <add key="WhatsAppPassCode" value="Test" />
	  <add key="EmailCCTo" value="" />
	  <add key="EmailFreightCCTo" value="" />
	  <!--<add key="EmailAccountCCTo" value="accounts@babajishivram.com"/>-->
	  <add key="EmailAccountCCTo" value=""/>
	  <add key="EmailBCCTo" value="amit.bakshi@babajishivram.com" />
	  <add key="ErrorEmailTo" value="amit.bakshi@babajishivram.com" />
	  <!-- Circular Email-->
	  <add key="CircularEmailIP" value="Testsmtp.sendgrid.net" />
	  <add key="CircularSMTPPort" value="111587" />
	  <add key="CircularEmailFrom" value="alert@BabajiShivram.com" />
	  <add key="CircularEmailUser" value="apikey" />
	  <add key="CircularEmailPassCode" value="Test" />
	  <add key="CircularEmailCCTo" value="" />
	  <add key="CircularEmailBCCTo" value="amit.bakshi@BabajiShivram.com" />
	  <add key="CircularErrorEmailTo" value="amit.bakshi@BabajiShivram.com" />
	  <add key="CircularEmailSSL" value="true"/>

	  <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempFolder\;" />
	  <!-- TaxPro Eway Setting -->
	  <add key="APIUserName" value="Test" />
	  <add key="APIPassCode" value="Test" />
	  <add key="APIAspID" value="AAAA" />
	  <add key="APIAspPassword" value="Test" />
	  <add key="APIBaseURL" value="https://Testeinvapi.charteredinfo.com/v1.03/dec" />
	  <!--<add key="APIBaseURL" value="Testhttps://api.taxprogsp.co.in/v1.03/dec" />-->
	  <!-- MyPacco API Setting -->
	  <add key="MyPaccoClient_id" value="Test"/>
	  <add key="MyPaccoClient_secret" value="Test"/>
	  <add key="MyPaccoAPIBaseURL" value="http://Testapi.mypacco.com/api/"/>
	  
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
	<connectionStrings>
		<add name="ConBSImport" connectionString="Data Source=192.168.6.98; Initial Catalog=ImportUAT; User ID=sa;Password=sa;" providerName="System.Data.SqlClient" />
		<add name="XLSConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};  Extended Properties='Excel 8.0;HDR={1}'" />
		<add name="XLSXConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0}; Extended Properties='Excel 8.0;HDR={1}'" />
		<add name="ConnectionFA" connectionString="Data Source=192.168.6.98; Initial Catalog=BSCCPL; User ID=sa;Password=B@baji@123;" providerName="System.Data.SqlClient" />
		<add name="ConnectionFAMaster" connectionString="Data Source=192.168.6.98; Initial Catalog=BABPRIME; User ID=sa;Password=B@baji@123;" providerName="System.Data.SqlClient" />
	</connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>